.content {
    margin-bottom: 3rem;
}



.v-flex-align-right {
    
    align-self: flex-end;
}

#left-nav .btn {
    width: 11rem;
    margin: .2rem auto;
    margin-left: 1rem;
    text-align: right;
}

