/* fonts */
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC|Squada+One');

/* Set the box sizing so the size includes padding and border */
* {
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
.v-flex-align-right {
    align-self: flex-end;
}

body {
    font-family: 'Marcellus SC', serif;
}

header {
    color: white;
    text-align: center;
    height: 60px;
}

.content {
    margin-bottom: 3rem;
}

/* .container > .row > .col {
    border: solid 1px;

} */

#left-nav .btn-group {
    margin-bottom: .2rem;
}

#left-nav .btn-group > .btn:first-of-type{
    text-align: right;
    width: 160px;
}

#googleMap {
    height: 400px;
    width: 100%;
    border-radius: 4px;
}

footer {
    height: 2rem;
    line-height: 2rem;
    color: white;
}

footer .footer-copyright {
    font-size: small;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}


.statistics {

background-color: blue; 

}

.statistics .card-header {
background-color: lightgrey; 
text-align: center; 
color: #17a2b8;



}

.statistics .list-group {

background-color: hotpink; 
font-size: large;
}

.statistics .disease-title {

background-color: orange; 
padding: 5%;
}

.statistics .list-group-item {
background-color: purple; 
padding: 1%;
font-size: small;

}